.header {
    height: 65rem;
    width: 100%;
    background-image: url(img/heads-of-state.webp);
    background-size: cover;
    background-position-y: 30%;
}

img {
    width: 700px;
}

@media (max-width: 1440px) {
    .header {
        height: 40rem;
    }

    button {
        font-size: 25px;
    }

    img {
        width: 400px;
    }
}

@media (max-width: 600px) {
    .header {
        height: 15rem;
    }

    button {
        font-size: 12px;
    }

    img {
        width: 200px;
    }
    .placementName {
        margin-left: 3rem;
    }

}

.navbar {
    width: 100%;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 1) 95%);
}

.header,
h1 {
    font-size: 2rem;
}

.header,
button {
    font-weight: 500;
}

.placementName {
    height: 90%;
    width: 50%;
}