.header {
    height: 40rem;
    width: 90%;
    background-image: url(img/heads-of-state.webp);
    background-size: cover;
    background-position-y: 30%;
}

.nomFilm {
    width: 700px;
}

.logo {
    width: 125px;
}

@media (max-width: 1440px) {
    .header {
        height: 40rem;
    }

    button {
        font-size: 25px;
    }

    .nomFilm {
        width: 400px;
    }
}

@media (max-width: 770px) {
    .header {
        height: 15rem;
    }

    button {
        font-size: 12px;
    }

    .nomFilm {
        width: 200px;
    }

    .placementName {
        margin-left: 3rem;
    }

    .logo {
        width: 96px;
    }

    .card {
        width: 20rem;
    }

}

.navbar {
    width: 100%;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 1) 95%);
}

.header,
h1 {
    font-size: 2rem;
}

.header,
button {
    font-weight: 500;
}

.placementName {
    height: 90%;
    width: 50%;
}

body {
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(33, 98, 145, 0.76) 97%);
}

.container {
    width: 100%;
}

.card {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(33, 98, 145, 0) 97%);
}

.date {
    color: rgb(140, 140, 140);
}

.footer {
    background-color: #3e627c;
    height: 10rem;
}